<title>LIFE INSURANCE</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<body>
    <h1 style="text-align: center"> LIFE INSURANCE CORPORATION</h1>
    <div class="content">
    <form action="/policy" method="POST" style="text-align: center; ">
        <input type="submit" value="Policy Section" style="color: black;align-self: center;background-color: blueviolet;">
    </form>
    <form action="/branch" method="POST" style="text-align: center; ">
        <input type="submit" value="Branch Login" style="color: black;align-self: center;background-color: blueviolet;">
    </form>
    <form action="/client" method="POST" style="text-align: center; ">
        <input type="submit" value="Client Login" style="color: black;align-self: center;background-color: blueviolet;">
    </form>
    <form action="/emp" method="POST" style="text-align: center; ">
        <input type="submit" value="Employee Login" style="color: black;align-self: center;background-color: blueviolet;">
    </form>
    <form action="/agent" method="POST" style="text-align: center; ">
        <input type="submit" value="Agent Login" style="color: black;align-self: center;background-color: blueviolet;">
    </form>

</div>
</body>